<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="./bootstrap-4.5.2/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

  <title>Cadastrar Imagens</title>
</head>
<body>

  <!-- Navbar -->
  <%- include('partials/navbar') %>

  <!-- Card -->
  <%- include('partials/card') %>
  
  <!-- Jquery, Pooper.js e Js do Bootstrap-->
  <script src="./jquery-3.5.1/jquery-3.5.1.slim.min.js"></script>
  <script src="./popper-1.16.1/popper-1.16.1.min.js"></script>
  <script src= "./bootstrap-4.5.2/js/bootstrap.min.js"></script>
</body>
</html>